<section data-ng-controller="RuleSetsController">
  <form name="rulesetForm" class="form-horizontal col-md-6" role="form" data-ng-submit="create(rulesetForm.$valid)" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : submitted && rulesetForm.title.$invalid }">
      <label mean-token="'create-title'" class="col-md-3 control-label">Title</label>
      <div class="col-md-9">
        <input name="title" type="text" class="form-control" data-ng-model="title" id="title" placeholder="Title" required>
        <div ng-show="submitted && rulesetForm.title.$invalid" class="help-block">
          <p ng-show="rulesetForm.title.$error.required">Title is required</p>
        </div>
      </div>

    </div>
    <div class="form-group" ng-class="{ 'has-error' : submitted && rulesetForm.content.$invalid }">
      <label mean-token="'create-content'" for="content" class="col-md-3 control-label">Content</label>
      <div class="col-md-9">
        <textarea name="content" data-ng-model="content" id="content" cols="30" rows="10" placeholder="Content" class="form-control" required></textarea>
        <div ng-show="submitted && rulesetForm.content.$invalid" class="help-block">
          <p ng-show="rulesetForm.content.$error.required">Content is required</p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-3 col-md-9">
        <button type="submit" class="btn btn-info">Submit</button>
      </div>
    </div>
  </form>
</section>
