<section data-ng-controller="RuleSetsController" data-ng-init="find()">
  <ul class="rulesets unstyled">
    <li data-ng-repeat="ruleset in rulesets">
      <span>{{ruleset.created | date:'medium'}}</span> /
      <span>{{ruleset.user.name}}</span>
      <h2>
        <a data-ng-href="#!/rulesets/{{ruleset._id}}">{{ruleset.title}}</a>
        <span data-ng-if="hasAuthorization(ruleset)">
          <a class="btn" href="/#!/rulesets/{{ruleset._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
          <a class="btn" data-ng-click="remove(ruleset);">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </span>
      </h2>
      <div>{{ruleset.content}}</div>
    </li>
  </ul>
  <h1 data-ng-hide="!rulesets || rulesets.length">No rulesets yet. <br> Why don't you <a href="/#!/rulesets/create">Create One</a>?</h1>
</section>
