<section data-ng-controller="RuleSetsController" data-ng-init="findOne()">
  <span>{{ruleset.created | date:'medium'}}</span> /
  <span>{{ruleset.user.name}}</span>
  <h2>{{ruleset.title}}</h2>
  <div data-ng-if="hasAuthorization(ruleset)">
    <a class="btn" href="/#!/rulesets/{{ruleset._id}}/edit">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn" data-ng-click="remove(ruleset);">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div>{{ruleset.content}}</div>
</section>
