<section data-ng-controller="LobbiesController">
  <form name="lobbyForm" class="form-horizontal col-md-6" role="form" data-ng-submit="create(lobbyForm.$valid)" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : submitted && lobbyForm.title.$invalid }">
      <label mean-token="'create-title'" class="col-md-3 control-label">Title</label>
      <div class="col-md-9">
        <input name="title" type="text" class="form-control" data-ng-model="title" id="title" placeholder="Title" required>
        <div ng-show="submitted && lobbyForm.title.$invalid" class="help-block">
          <p ng-show="lobbyForm.title.$error.required">Title is required</p>
        </div>
      </div>

    </div>
    <div class="form-group" ng-class="{ 'has-error' : submitted && lobbyForm.content.$invalid }">
      <label mean-token="'create-description'" for="description" class="col-md-3 control-label">Content</label>
      <div class="col-md-9">
        <textarea name="description" data-ng-model="description" id="description" cols="30" rows="10" placeholder="Description" class="form-control" required></textarea>
        <div ng-show="submitted && lobbyForm.content.$invalid" class="help-block">
          <p ng-show="lobbyForm.content.$error.required">Description is required</p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-3 col-md-9">
        <button type="submit" class="btn btn-info">Submit</button>
      </div>
    </div>
  </form>
</section>
