<section data-ng-controller="LobbiesController" data-ng-init="findOne()">
  <form name="lobbyForm" class="form-horizontal col-md-6" role="form" data-ng-submit="update(lobbyForm.$valid)" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : submitted && lobbyForm.title.$invalid }">
      <label mean-token="'edit-title'" for="title" class="col-md-2 control-label">Title</label>
      <div class="col-md-10">
        <input name="title" type="text" class="form-control" data-ng-model="lobby.title" id="title" placeholder="Title" required>
        <div ng-show="submitted && lobbyForm.title.$invalid" class="help-block">
          <p ng-show="lobbyForm.title.$error.required">Title is required</p>
        </div>
      </div>

    </div>
    <div class="form-group" ng-class="{ 'has-error' : submitted && lobbyForm.description.$invalid }">
      <label mean-token="'edit-description'" for="description" class="col-md-2 control-label">description</label>
      <div class="col-md-10">
        <textarea name="description" data-ng-model="lobby.description" id="description" cols="30" rows="10" placeholder="description" class="form-control" required></textarea>
        <div ng-show="submitted && lobbyForm.description.$invalid" class="help-block">
          <p ng-show="lobbyForm.description.$error.required">description is required</p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <button mean-token="'edit-submit'" type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
</section>
