<section data-ng-controller="lobbysController" data-ng-init="find()">
  <ul class="lobbies unstyled">
    <li data-ng-repeat="lobby in lobbies">
      <span>{{lobby.created | date:'medium'}}</span> /
      <span>{{lobby.user.name}}</span>
      <h2>
        <a data-ng-href="#!/lobby/{{lobby._id}}">{{lobby.title}}</a>
        <span data-ng-if="hasAuthorization(lobby)">
          <a class="btn" href="/#!/lobby/{{lobby._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
          <a class="btn" data-ng-click="remove(lobby);">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </span>
      </h2>
      <div>{{lobby.description}}</div>
    </li>
  </ul>
  <h1 data-ng-hide="!lobbies || lobbies.length">No lobbies yet. <br> Why don't you <a href="/#!/lobbies/create">Create One</a>?</h1>
</section>
