<section data-ng-controller="LobbiesController" data-ng-init="findOne()">
  <span>{{lobby.created | date:'medium'}}</span> /
  <span>{{lobby.user.name}}</span>
  <h2>{{lobby.title}}</h2>
  <div data-ng-if="hasAuthorization(lobby)">
    <a class="btn" href="/#!/lobby/{{lobby._id}}/edit">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn" data-ng-click="remove(lobby);">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div>{{lobby.description}}</div>
</section>
