{% for file in assets.core.js %}
  <script type="text/javascript" src="/{{file}}"></script>
{% endfor %}

<script type="text/javascript" src="/modules/aggregated.js"></script>


{% if (process.env.NODE_ENV == 'development') %}
  <!-- Livereload script rendered -->
  <script type="text/javascript" src="{{'http://' + req.hostname + ':35729/livereload.js'}}"></script>
{% endif %}
