h1 {
	text-align: center
}

@font-face {
    font-family: 'gunfjaun_runicregular';
    src: url('/game/assets/fonts/gunfjaunrunic-webfont.eot');
    src: url('/game/assets/fonts/gunfjaunrunic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/game/assets/fonts/gunfjaunrunic-webfont.woff') format('woff'),
         url('/game/assets/fonts/gunfjaunrunic-webfont.ttf') format('truetype'),
         url('/game/assets/fonts/gunfjaunrunic-webfont.svg#gunfjaun_runicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}