<section data-ng-controller="GamesController">
  <form name="gameForm" class="form-horizontal col-md-6" role="form" data-ng-submit="create(gameForm.$valid)" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : submitted && gameForm.title.$invalid }">
      <label mean-token="'create-title'" class="col-md-3 control-label">Title</label>
      <div class="col-md-9">
        <input name="title" type="text" class="form-control" data-ng-model="title" id="title" placeholder="Title" required>
        <div ng-show="submitted && gameForm.title.$invalid" class="help-block">
          <p ng-show="gameForm.title.$error.required">Title is required</p>
        </div>
      </div>

    </div>
    <div class="form-group" ng-class="{ 'has-error' : submitted && gameForm.description.$invalid }">
      <label mean-token="'create-description'" for="description" class="col-md-3 control-label">Description</label>
      <div class="col-md-9">
        <textarea name="description" data-ng-model="description" id="description" cols="30" rows="10" placeholder="description" class="form-control" required></textarea>
        <div ng-show="submitted && gameForm.description.$invalid" class="help-block">
          <p ng-show="gameForm.description.$error.required">Description is required</p>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : submitted && gameForm.password.$invalid }">
        <label mean-token="'create-password'" for="password" class="col-md-3 control-label">Password</label>
        <div class="col-md-9">
          <input type="password" name="password" id="password" placeholder="password" class="form-control" data-ng-model="password"></input>
          <div ng-show="submitted && gameForm.password.$invalid" class="help-block">
            <p ng-show="gameForm.password.$error.length">Password must be 6 characters long</p>
            <p ng-show="gameForm.password.$error.characterset">Password must contain two character types [letters, numbers, symbols]</p>
            <p ng-show="gameForm.password.$error.confirm">Password must match the confirmation entered</p>
          </div>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : submitted && gameForm.password.$invalid }">
        <label mean-token="'create-confirmPassword'" for="confirmPassword" class="col-md-3 control-label">Confirm password</label>
        <div class="col-md-9">
          <input type="password" name="confirmPassword" id="confirmPassword" placeholder="password" class="form-control" data-ng-model="confirmPassword"></input>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : submitted && gameForm.is_private.$invalid }">
        <label mean-token="'create-is_private'" for="is_private" class="col-md-3 control-label">Private Game?</label>
        <div class="col-md-9">
          <input type="checkbox" name="is_private" id="is_private" class="form-control" data-ng-model="is_private">Is this a private game? (It won't be listed in the lobby, you'll have to invite other players)</input>
        </div>
      </div>
      <div>
        <label mean-token="'create-player_limit'" for="player_limit" class="col-md-3 control-label">Player Limit</label>
        <div class="col-md-9">
          <input type="text" name="player_limit" id="player_limit" class="form-control" placeholder="Number of players allowed to join" data-ng-model="player_limit"></input>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : submitted && gameForm.ruleset.$invalid }">
        <label mean-token="'create-ruleset'" for="ruleset" class="col-md-3 control-label">RuleSet</label>
        <div class="col-md-9">
          <section data-ng-controller="RuleSetsController" data-ng-init="find()" name="ruleset" id="ruleset" mean-token="'create-ruleset'">
            <select name="ruleset" id="ruleset" class="form-control" ngOptions="ruleset for (title, _id) in rulesets">
            </select>
          </section>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-3 col-md-9">
        <button type="submit" class="btn btn-info">Submit</button>
      </div>
    </div>
  </form>
</section>
