<section data-ng-controller="GamesController" data-ng-init="find()">
  <ul class="games unstyled">
    <li data-ng-repeat="game in games">
      <span>{{game.created | date:'medium'}}</span> /
      <span>{{game.owner.name}}</span>
      <span>{{game.title}}</span>
      <h2>
        <a data-ng-href="#!/game/{{game._id}}">{{game.title}}</a>
        <span data-ng-if="hasAuthorization(game)">
          <a class="btn" href="/#!/game/{{game._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
          <a class="btn" data-ng-click="remove(game);">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </span>
        <a class="btn" href="/#!/game/{{game._id}}/play">
          <i class="glyphicon">Play</i>
        </a>
      </h2>
      <div>{{game.description}}</div>
    </li>
  </ul>
  <h1 data-ng-hide="!games || games.length">No games yet. <br> Why don't you <a href="/#!/game/create">Create One</a>?</h1>
</section>
