<section data-ng-controller="GamesController" data-ng-init="findOne()">
  <h1 align="left">Created:</h1>
  <span>{{game.created | date:'medium'}}</span>
  <h1 align="left">Created By:</h1>
  <span>{{game.owner.name}}</span>
  <h2>{{game.title}}</h2>
  <h1 align="left">RuleSet:</h1>
  <span>{{game.ruleset.title}}</span>
  <h1 align="left">Is Private?</h1>
  <span>{{game.is_private}}</span>
  <h1 align="left"> Player limit: </h1>
  <span>{{game.player_limit}}</span>
  <div data-ng-if="hasAuthorization(game)">
    <a class="btn" href="/#!/game/{{game._id}}/edit">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn" data-ng-click="remove(game);">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <h1 align="left">Description: </h1>
  <div>{{game.description}}</div>
</section>
